* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

label {
  padding: 1em;
  display: block;
}

input {
  display: block;
  margin: 0.5em;
  padding: 1em;
  width: 100%;
  background: #eee;
}

canvas {
  border: 1px dotted cadetblue;
  margin: 1em;
}

#container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}

#container > canvas {
  justify-self: center;
}

#container > div {
  justify-self: center;
}

.help {
  max-width: 600px;
}
