
label {
    display: -webkit-inline-box;
  
}

.help span {align-self:flex-end;}


input {
    display: block;
    margin: 0;
    width: 40.8vw;
    border: 1px dashed black;
    display: block;
    margin-top: 1vh;
    padding: 1em;
}


canvas {
  
  margin: 0em;

}

.canvas img {
    max-width:contain;
}

.blog {

    grid-template-columns: 12% 22% 44% 22% !important;


}

#container {
    display: grid;
    height: 300px;
    width: 41vw;
    align-content: stretch;
    align-items: end;
    justify-items: stretch;
    justify-content: start;
}

    #container img {
        image-rendering: pixelated;
        display:block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }

    #container > canvas {
        position: fixed;
        left: 2vw;
        top: 400px;
        width: 96vw;
    
    }

    #container > div {
        justify-self: center;
   
    }




@media all and (orientation: portrait) {

    #container, input {
    width:96vw;}

        .blog {
        max-height: 50vh !important;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        position: fixed;
        top: 10vh !important;
    }

    #container > canvas {
        position: fixed;
        left: 2vw;
        top: 70vh;
        width: 96vw;
    }
    .blog-right {border-top: 0px solid white !important;
    }}