
label {
    display: -webkit-inline-box;
  
}

.help span {align-self:flex-end;}
.help h3 {
    text-transform:uppercase;
    font-size:1.1em;
    font-weight:400;
    padding:0px;
    margin:0;
}


input {
    display: block;
    margin: 0;
    width: 40.8vw;
    border: 1px dashed black;
    display: block;
    margin-top: 1vh;
    padding: 1em;
}


canvas {
  
  margin: 0em;

}

.canvas img {
    max-width:contain;
}

.blog {

    grid-template-columns: 12% 22% 44% 22% !important;


}

#container {
    display: grid;
    height: 240px;
    width: 41vw;
    align-content: stretch;
    align-items: end;
    justify-items: stretch;
    justify-content: start;
}

    #container img {
        image-rendering: pixelated;
        display:block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
    }

    #container > canvas {
        border: 1px dashed #2f4f4f;
        position: fixed;
        left: 2vw;
        top: 300px;
        width: 96vw;
        min-height: calc(96vw / 3);
        height:auto;
    }

    #container > div {
        justify-self: center;
   
    }


ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

@media all and (orientation: portrait) {

    #container {
        margin-top:-50px;
    width:88vw;

    }

    input {
        width: 86vw;
    }


        .blog {
        max-height: 50vh !important;
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
        position: fixed;
        top: 10vh !important;
    }

    #container > canvas {
        position: fixed;
        left: 6vw;
        top: 50vh;
        width: 88vw;
        min-height: calc(88vw / 3);
        height: auto;
    }
    .blog-right {border-top: 0px solid white !important;
    }}